<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Modal Example - Modified</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Super Serwis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Księgowość</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Zamówienia
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/clients">Klienci</a></li>
                        <li><a class="dropdown-item" href="#">Zakupy</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item active" href="/">Lista zamówień</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
    margin: 0 auto;
}
.form-control {
    border: none;
    padding-left: 32px;
}
.form-control:focus {
    border: none;
    box-shadow: none;
}
.green {
    color: green;
}
</style>

<div class="container mt-2 px-2" style="max-width: 60%;">  
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddOrderRecordModal" data-whatever="@getbootstrap">Dodaj</button>
            <button type="button" class="btn btn-secondary">Edytuj</button>
            <button type="button" class="btn btn-danger">Usuń</button>
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="1%">UserId</th>
                    <th scope="col" width="10%">Name</th>
                    <th scope="col" width="10%">SecondName</th>
                    <th scope="col" width="10%">Surname</th>
                    <th scope="col" width="20%">Email</th>
                    <th scope="col" width="12%">PhoneNumber</th>
                    <th scope="col" width="12%">Options</th>
                </tr>
            </thead>
            <tbody>
                <% 
                const jsonData = JSON.stringify(data); // Convert `data` to a JSON string
                const parsedData = JSON.parse(jsonData); // Parse it back to an object or array
                for (let i = 0; i < parsedData.length; i++) { 
                %>
                    <tr>
                        <td><%= parsedData[i].UserId %></td>
                        <td><%= parsedData[i].Name %></td>
                        <td><%= parsedData[i].SecondName %></td>
                        <td><%= parsedData[i].Surname %></td>
                        <td><%= parsedData[i].Email %></td>
                        <td><%= parsedData[i].PhoneNumber %></td>
                        <td>
                            <button  type="button" class="btn btn-danger">USUN</button>
                            <button type="button" class="btn btn-secondary">Edytuj</button>
                            <button  type="button" class="btn btn-primary">E-MAIL</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="AddOrderRecordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" style="background-color: rgb(233, 233, 233);">
                    </div>
                    <div class="form-group">
                        <label for="second-name" class="col-form-label">Second Name:</label>
                        <input type="text" class="form-control" id="second-name" style="background-color: rgb(233, 233, 233);">
                    </div>
                    <div class="form-group">
                        <label for="surname" class="col-form-label">Surname:</label>
                        <input type="text" class="form-control" id="surname" style="background-color: rgb(233, 233, 233);">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email" style="background-color: rgb(233, 233, 233);">
                    </div>
                    <div class="form-group">
                        <label for="phone-number" class="col-form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="phone-number" style="background-color: rgb(233, 233, 233);">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="add()">Send message</button>
            </div>
        </div>
    </div>
</div>

<script>
    function collect_from_mod() {
        const name = document.getElementById('name').value; // Name
        const secondName = document.getElementById('second-name').value; // Second Name
        const surname = document.getElementById('surname').value; // Surname
        const email = document.getElementById('email').value; // Email
        const phoneNumber = document.getElementById('phone-number').value; // Phone Number

        const return_data = {
            name: name,
            secondName: secondName,
            surname: surname,
            email: email,
            phoneNumber: phoneNumber,
        };

        return return_data;
    }

    function add() {
        console.log('Adding...');
        const dataToSend = collect_from_mod();
        console.log('Sending data:', dataToSend);

        fetch("/send-user", {
            method: "POST",
            body: JSON.stringify({ data: dataToSend }),
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(response => response.text())
        .then(data => console.log("Server Response:", data))
        .catch(error => console.error("Error:", error));

        console.log('Added');
    }
</script>

</body>
</html>
